/* Here I am making a 'var' variable to store the original color of the square. For reuse after the 'mouseenter' event. */
:root {
    --original-color: rgb(100, 164, 176);   
}

body,
html,
*::after,
*::before
 {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 30px;
}

#etchContainer{
    display: inline-grid;
    grid-template-columns: repeat(var(--grid-numb), 2fr);    /* --grid-numb variable is used to dynamically change the amount of rows and columns to output.  */
    grid-template-rows: repeat(var(--grid-numb), 2fr);
    height: 700px;
    width: 700px;
}


.etchElement {
   border: 1px solid gray ;
   background-color: var(--original-color);  /* Here the variable is in use */
   height: 100%;
   width: 100%;
}

@media (max-width: 875px) or (max-height: 500px) {
    #etchContainer{
        grid-template-columns: repeat(16, 20px);
        grid-template-rows: repeat(16, 20px);
    }}
