/* Here I am making a 'var' variable to store the original color of the square. For reuse after the 'mouseover' event. */
:root {
    --original-color: rgb(100, 164, 176);   
}

body,
html,
*::after,
*::before
 {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 30px;
}

.header{
    display: flex;
    padding-top: 20px;
    gap: 10px;
}

body {
    background-color: rgb(74, 99, 68);
}

button {
    background-color: rgb(173, 189, 169);
    border-radius: 8px;
    border: none;
    padding: 8px 20px;
}

#etchContainer{
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);   
    grid-template-rows: repeat(16, 2fr);                 
    height: 700px;
    width: 700px;
    border: medium ridge black;
}

.etchElement {
   border: 1px solid gray ;
   background-color: var(--original-color);  /* Here the variable is in use */
   height: 100%;
   width: 100%;
}

@media (max-width: 750px) or (max-height: 500px) {
    #etchContainer{
        height: 500px;
        width: 500px;
    }}

@media (max-width: 500px) or (max-height: 500px) {
    #etchContainer{
        height: 350px;
        width: 350px;
    }}
