/* Here I am making a 'var' variable to store the original color of the square. For reuse after the 'mouseenter' event. */
:root {
    --original-color: rgb(68, 39, 39);
}

body, html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.divRows {
    display: flex;
}

.etchElement {
   border: 1px solid gray ;
   height: 35px;
   width: 35px;
   background-color: var(--original-color);  /* Here the variable is in use */
}

@media (max-width: 875px) {
    .etchElement {
        width: 20px;
        height: 20px;
    }
}

@media (max-height: 500px) {
    .etchElement {
        width: 20px;
        height: 20px;
    }
}